$primary-color:#132f54;
$secondary-color:#b09367;
$white:#fff;
$black:#000;

$transition-effect: all 0.3s ease;


$primary-overlay:linear-gradient(to bottom, rgba($primary-color, 0.5), rgba($primary-color, 0.7));
$secondary-overlay:linear-gradient(to bottom,rgba($secondary-color, 0.5), rgba($secondary-color, 0.7));
$white-overlay:linear-gradient(to bottom,rgba($white, 0.5), rgba($white, 0.7));


body{
  margin: 0;
  padding: 0;
  font-family:'open sans', Helvetica, sans-serif;
}

a{
  color: $white;
  text-decoration: none;
}

nav{
  padding: 5%;
  display: flex;


  a{
    text-transform: uppercase;
    margin: 4px;
    padding: 8px 16px;
    transition: $transition-effect;
  }

  a:hover{
    border-bottom: 1px solid $white;  }

  

  >div{
    margin: auto;

  }

  .left{

  }

  .center{
    font-family: 'Shadows Into Light';


    a{
      font-size: 36px;
    border: 1px solid;
    border-bottom: none;
    }
    a:hover{
      border: none;
    }
  }

  .right{

    :last-child{
      background-color: $primary-color;
      transition: all 0.3s ease;
    }
    :last-child:hover{
      background-color: $secondary-color;
      border: none;
    }
  }
}

.section{
  padding: 5%;
  display: flex;
  margin: auto;
  text-align: center;

  >div{
    margin: auto;
    text-align: center;
  }
}


.landing{
background-image:$primary-overlay, url('https://images.unsplash.com/photo-1595563382617-fe6fa4fd0394?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80');  
 /* Full height */
   height: 100vh;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.landing-content{
  width: 100%;
  position: absolute;
  z-index: 1;
  color: $white;
  text-align: center;
  
  h1{
    font-weight: 200;
    font-size: 56px;
    margin-bottom: 0;
  }

  h4{
    font-weight: 500;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 2%;
  }
  p{
    width: 50%;
    margin: auto;
  }

  .landing-btn{
    margin-top: 4%;
    a{
      padding: 0.75% 4%;
        margin: 2%;
    }
    :first-child{
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
      transition: $transition-effect;
    }
    :first-child:hover{
      background: none;
    }
    
    :last-child{
      border:1px solid $secondary-color;
      transition: $transition-effect;
    }
    :last-child:hover{
      background-color: $secondary-color;
    }
  }

  h6{
    font-weight: 300;
    font-size: 14px;
    margin-top: 4%;
    a{
      font-size: 20px;
    }
  }
}

.background-position{
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landlords{
 position: relative;
  background-image: $secondary-overlay,url('https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
}

.tenants{
  position: relative;
  background-image:$primary-overlay, url('https://images.unsplash.com/photo-1556566353-cdcb88a69f3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
}

.content{
  padding: 15%;
  color: $white;

  h1{
margin-top: 0;
font-weight: 400;
  }

  p{
    margin-top: 0;
  }

  a{
    border: 2px solid $white;
    color: $white;
    padding: 1% 2%;
  }
}

// ABOUT
.about{
  flex-direction: column;
  border-bottom: 2px solid $primary-color;
  width: 80%;

  p{
    width: 50%;
    margin: 3% auto;
  }
}

.about-btn{
  width: 60%;
  a{
    border: 2px solid;
    padding: 1% 2%;
    margin: 2%;
    transition: $transition-effect;
  }
a:hover{
  background-color: $primary-color;
  border: none;
  color: $white;
}

  :first-child{
    color: $primary-color;
  }
  :last-child{
    color: $secondary-color;
  }
}

.title{
  color: $secondary-color;
  font-weight: 600;
  padding: 4%;
  font-size: 28px;
}

.sub-title{
  text-transform: uppercase;
  width: 60%;
  font-weight: 600;
  color: $primary-color;
  font-size: 20px;
}


// WHY
.why{
  flex-direction: column;
  padding: 0;
  a{
    background-color: #132f54;
    margin: 5% auto;
    padding: 1%;
  }
}

.why-content{
  padding-top: 5%;
  background-image: $white-overlay,url('https://images.unsplash.com/photo-1584091780913-3d1335b685df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  box-shadow: inset 0 200px 50px -20px $white;
  .why-box{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;

    >div{
      text-align: center;
    padding: 5%;
    border: 1px solid #b09367;
    background-color: #fff;
    width: 15%;
    margin:2% auto;


    .icon{
      font-size: 56px;
      color: $secondary-color;
    }
    .txt{
      font-size: 14px;
      font-weight: bold;
    }
    }
  }

  .why-cta{
margin: 5% auto;
  }
}


// BANNER
.banner{
  background-image: $primary-overlay,url('https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  text-align: center;
  padding: 5%;
  color: $white;

  .cta{
    margin-top: 5%;
  }
  a{
    background-color: #132f54;
    padding: 1%;
  }

}

// LATEST PROPERTIES
.l-properties{
  display: block;
}
.properties{
  margin: auto;
  width: 80%;
  display: flex;

  >div{
    width: 40%;
    margin: auto;
  }

  .property{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)),url('https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    padding: 25% 1% 1% 1%;
    color: #fff;
  }

  .property-detail{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr ;
    align-items: center;
    .price{
      grid-row:1/2 ;
      grid-column: 1/2;
      font-weight: bold;

    }
    .location{
      grid-column:1/2 ;
      grid-row: 2/3;
      font-size: 14px;
    }
    .bed{
      grid-column:2/3 ;
      grid-row: 1/3;
    }
    .bathroom{
      grid-column:3/4 ;
      grid-row: 1/3;
    }
    .parking{
      grid-column:4/5 ;
      grid-row: 1/3;
    }
  }
}

// TESTIMONIAL
.testimonials{
  color: $white;
  background-image: $primary-overlay,url('https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  flex-direction: column;

  p{
    font-style: italic;
  }
  h6{
    font-weight: 400;
    font-size: 14px;
  }
}