$primary-color:#132f54;
$secondary-color:#b09367;
$white:#fff;
$black:#000;

$transition-effect: all 0.3s ease;


body{
  margin: 0;
  padding: 0;
  font-family:'open sans', Helvetica, sans-serif;
}

a{
  color: $white;
  text-decoration: none;
}

nav{
  padding: 5%;
  display: flex;


  a{
    text-transform: uppercase;
    margin: 4px;
    padding: 8px 16px;
    transition: $transition-effect;
  }

  a:hover{
    border-bottom: 1px solid $white;  }

  

  >div{
    margin: auto;

  }

  .left{

  }

  .center{
    font-family: 'Shadows Into Light';


    a{
      font-size: 36px;
    border: 1px solid;
    border-bottom: none;
    }
    a:hover{
      border: none;
    }
  }

  .right{

    :last-child{
      background-color: $primary-color;
      transition: all 0.3s ease;
    }
    :last-child:hover{
      background-color: $secondary-color;
      border: none;
    }
  }
}

.section{
  padding: 5%;
  display: flex;
  margin: auto;
  text-align: center;

  >div{
    margin: auto;
    text-align: center;
  }
}


.landing{
background-image: url('https://images.unsplash.com/photo-1595563382617-fe6fa4fd0394?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80');  
 /* Full height */
   height: 100vh;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.overlay{
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay-secondary{
  background-color: $secondary-color;
}
.overlay-primary{
  background-color: $primary-color;
}
.overlay-white{
  background-color: $white;
}


.landing-content{
  width: 100%;
  position: absolute;
  z-index: 1;
  color: $white;
  text-align: center;

  h1{
    font-weight: 200;
    font-size: 56px;
    margin-bottom: 0;
  }

  h4{
    font-weight: 500;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 2%;
  }
  p{
    width: 50%;
    margin: auto;
  }

  .landing-btn{
    margin-top: 4%;
    a{
      padding: 0.75% 4%;
        margin: 2%;
    }
    :first-child{
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
      transition: $transition-effect;
    }
    :first-child:hover{
      background: none;
    }
    
    :last-child{
      border:1px solid $secondary-color;
      transition: $transition-effect;
    }
    :last-child:hover{
      background-color: $secondary-color;
    }
  }

  h6{
    font-weight: 300;
    font-size: 14px;
    margin-top: 4%;
    a{
      font-size: 20px;
    }
  }
}

.background-position{
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landlords{
 position: relative;
  background-image: url('https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
}

.tenants{
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1556566353-cdcb88a69f3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
}

.content{
  padding: 15%;
  color: $white;

  h1{
margin-top: 0;
font-weight: 400;
  }

  p{
    margin-top: 0;
  }

  a{
    border: 2px solid $white;
    color: $white;
    padding: 1% 2%;
  }
}

// ABOUT
.about{
  flex-direction: column;
  border-bottom: 2px solid $primary-color;
  width: 80%;

  p{
    width: 50%;
    margin: 3% auto;
  }
}

.about-btn{
  width: 60%;
  a{
    border: 2px solid;
    padding: 1% 2%;
    margin: 2%;
    transition: $transition-effect;
  }
a:hover{
  background-color: $primary-color;
  border: none;
  color: $white;
}

  :first-child{
    color: $primary-color;
  }
  :last-child{
    color: $secondary-color;
  }
}

.title{
  color: $secondary-color;
  font-weight: 600;
  padding: 4%;
}

.sub-title{
  text-transform: uppercase;
  width: 60%;
  font-weight: 600;
  color: $primary-color;
  font-size: 20px;
}


// WHY
.why{
  flex-direction: column;
  padding: 0;
  a{
    background-color: #132f54;
    margin: 5% auto;
    padding: 1%;
  }
}

.why-content{
  padding-top: 5%;
  background-image: url('https://images.unsplash.com/photo-1584091780913-3d1335b685df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');


  >div{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  
    >div{
      border: 1px solid #b09367;
      background-color: #fff;
      padding: 1%;
      text-align: center;
      margin: 2% auto;
      display: flex;
      flex-direction: column;
      width: 20%;

      .icon{
        color: $secondary-color;
        font-size: 66px;
      }

      .txt{
        color: #132f54;
      font-weight: bold;
      font-size: 14px;
      margin: 15% 10%;
      }
    }
  }
}