body {
  margin: 0;
  padding: 0;
  font-family: "open sans", Helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

nav {
  padding: 5%;
  display: flex;
}
nav a {
  text-transform: uppercase;
  margin: 4px;
  padding: 8px 16px;
  transition: all 0.3s ease;
}
nav a:hover {
  border-bottom: 1px solid #fff;
}
nav > div {
  margin: auto;
}
nav .center {
  font-family: "Shadows Into Light";
}
nav .center a {
  font-size: 36px;
  border: 1px solid;
  border-bottom: none;
}
nav .center a:hover {
  border: none;
}
nav .right :last-child {
  background-color: #132f54;
  transition: all 0.3s ease;
}
nav .right :last-child:hover {
  background-color: #b09367;
  border: none;
}

.section {
  padding: 5%;
  margin: auto;
  text-align: center;
}
.section > div {
  margin: auto;
  text-align: center;
}

.section-flex {
  display: flex;
}

.landing {
  background-image: linear-gradient(to bottom, rgba(19, 47, 84, 0.5), rgba(19, 47, 84, 0.7)), url("https://images.unsplash.com/photo-1595563382617-fe6fa4fd0394?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-content {
  width: 100%;
  position: absolute;
  z-index: 1;
  color: #fff;
  text-align: center;
}
.landing-content h1 {
  font-weight: 200;
  font-size: 56px;
  margin-bottom: 0;
}
.landing-content h4 {
  font-weight: 500;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 2%;
}
.landing-content p {
  width: 50%;
  margin: auto;
}
.landing-content .landing-btn {
  margin-top: 4%;
}
.landing-content .landing-btn a {
  padding: 0.75% 4%;
  margin: 2%;
}
.landing-content .landing-btn :first-child {
  background-color: #b09367;
  border: 1px solid #b09367;
  transition: all 0.3s ease;
}
.landing-content .landing-btn :first-child:hover {
  background: none;
}
.landing-content .landing-btn :last-child {
  border: 1px solid #b09367;
  transition: all 0.3s ease;
}
.landing-content .landing-btn :last-child:hover {
  background-color: #b09367;
}
.landing-content h6 {
  font-weight: 300;
  font-size: 14px;
  margin-top: 4%;
}
.landing-content h6 a {
  font-size: 20px;
}

.background-position {
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landlords {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(176, 147, 103, 0.5), rgba(176, 147, 103, 0.7)), url("https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

.tenants {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(19, 47, 84, 0.5), rgba(19, 47, 84, 0.7)), url("https://images.unsplash.com/photo-1556566353-cdcb88a69f3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

.content {
  padding: 15%;
  color: #fff;
}
.content h1 {
  margin-top: 0;
  font-weight: 400;
}
.content p {
  margin-top: 0;
}
.content a {
  border: 2px solid #fff;
  color: #fff;
  padding: 1% 2%;
}

.about {
  flex-direction: column;
  border-bottom: 2px solid #132f54;
  width: 80%;
}
.about p {
  width: 50%;
  margin: 3% auto;
}

.about-btn {
  width: 60%;
}
.about-btn a {
  border: 2px solid;
  padding: 1% 2%;
  margin: 2%;
  transition: all 0.3s ease;
}
.about-btn a:hover {
  background-color: #132f54;
  border: none;
  color: #fff;
}
.about-btn :first-child {
  color: #132f54;
}
.about-btn :last-child {
  color: #b09367;
}

.title {
  color: #b09367;
  font-weight: 600;
  padding: 4%;
  font-size: 28px;
}

.sub-title {
  text-transform: uppercase;
  width: 60%;
  font-weight: 600;
  color: #132f54;
  font-size: 20px;
}

.why {
  flex-direction: column;
  padding: 0;
}
.why a {
  background-color: #132f54;
  margin: 5% auto;
  padding: 1%;
}

.why-content {
  padding-top: 5%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url("https://images.unsplash.com/photo-1584091780913-3d1335b685df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  box-shadow: inset 0 200px 50px -20px #fff;
}
.why-content .why-box {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}
.why-content .why-box > div {
  text-align: center;
  padding: 5%;
  border: 1px solid #b09367;
  background-color: #fff;
  width: 15%;
  margin: 2% auto;
}
.why-content .why-box > div .icon {
  font-size: 56px;
  color: #b09367;
}
.why-content .why-box > div .txt {
  font-size: 14px;
  font-weight: bold;
}
.why-content .why-cta {
  margin: 5% auto;
}

.banner {
  background-image: linear-gradient(to bottom, rgba(19, 47, 84, 0.5), rgba(19, 47, 84, 0.7)), url("https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  text-align: center;
  padding: 5%;
  color: #fff;
}
.banner .cta {
  margin-top: 5%;
}
.banner a {
  background-color: #132f54;
  padding: 1%;
}

.l-properties {
  display: block;
}

.properties {
  margin: auto;
  width: 80%;
  display: flex;
}
.properties > div {
  width: 40%;
  margin: auto;
}
.properties .property {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url("https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  padding: 25% 1% 1% 1%;
  color: #fff;
}
.properties .property-detail {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.properties .property-detail .price {
  grid-row: 1/2;
  grid-column: 1/2;
  font-weight: bold;
}
.properties .property-detail .location {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 14px;
}
.properties .property-detail .bed {
  grid-column: 2/3;
  grid-row: 1/3;
}
.properties .property-detail .bathroom {
  grid-column: 3/4;
  grid-row: 1/3;
}
.properties .property-detail .parking {
  grid-column: 4/5;
  grid-row: 1/3;
}

.testimonials {
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(19, 47, 84, 0.5), rgba(19, 47, 84, 0.7)), url("https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  flex-direction: column;
}
.testimonials p {
  font-style: italic;
}
.testimonials h6 {
  font-weight: 400;
  font-size: 14px;
}

.blog-post {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.blog-post > div {
  margin: auto;
  width: 25%;
  background: #fff;
  padding: 1%;
  color: #132f54;
}
.blog-post > div .blogpost-title {
  font-weight: bold;
  text-align: left;
  padding: 5% 0;
  font-size: 24px;
}
.blog-post > div .blogpost-content {
  text-align: justify;
  padding: 5% 0;
  font-size: 14px;
  font-weight: 500;
}
.blog-post > div .blogpost-link {
  text-align: right;
}
.blog-post > div .blogpost-link a {
  color: #132f54;
  font-size: 14px;
  font-weight: bold;
}

img {
  width: 100%;
  height: 100%;
}

.blog-section {
  background: #f0f8ff;
}

.get-in-touch {
  background-image: linear-gradient(to bottom, rgba(176, 147, 103, 0.5), rgba(176, 147, 103, 0.7)), url("https://images.unsplash.com/photo-1552652893-2aa10a0ab4df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.get-in-touch .title {
  color: #fff;
}

form {
  width: 50%;
  margin: 5% auto;
}
form input, form textarea {
  color: #132f54;
  padding: 2% 4%;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}
form input[type=text], form input[type=email] {
  width: 40%;
}
form input[type=submit] {
  background-color: #132f54;
  color: #fff;
  border: none;
  margin: 5%;
  cursor: pointer;
}
form textarea {
  width: 90%;
  height: 150px;
  max-height: fit-content;
}

footer {
  background-color: #132f54;
  color: #fff;
  font-size: 14px;
}
footer .footer-content {
  display: flex;
  text-align: justify;
}
footer .footer-content > div {
  margin: auto;
  padding: 5%;
}
footer .footer-content .title {
  color: #fff;
  padding: 4% 0;
  font-size: 18px;
}
footer .footer-content .logo {
  width: 50%;
}
footer .footer-content .logo .title {
  font-family: "Shadows Into Light";
  font-weight: 100;
  border: 1px solid;
  border-top: none;
  padding: 2%;
  width: fit-content;
  font-size: 24px;
  letter-spacing: 5px;
}
footer .footer-content .quick-links {
  width: 25%;
}
footer .footer-content .quick-links > div {
  display: flex;
  flex-direction: column;
}
footer .footer-content .address {
  width: 25%;
}
footer .copyrights {
  display: flex;
  font-size: 14px;
}
footer .copyrights > div {
  width: 50%;
  text-align: start;
}
footer .copyrights .social-links a {
  font-size: 16px;
  margin: 2%;
}

/*# sourceMappingURL=main.css.map */
